header h1{
    text-align: center;
}

body{
    font-family:VERDANA;
    background-color: #4b75b8;
}

a{
    background-color: white;
    text-decoration: none;
    

}

footer{
    background-color: #05d7fc;
    padding:30px;
    
}

footer a{
    border-radius:20px;
    
}

ul a{
    border-radius:20px;
margin:10px;
}



